@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #595db8;
}

.sortableList {
  width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
}

.sortableList .item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: move;
  &:last-child {
    margin-bottom: 0;
  }
}

.item .details {
  display: flex;
  align-items: center;
}

.item .details img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.item .details span {
  font-size: 1.13rem;
}

.item i {
  font-size: 1.13rem;
  color: #474747;
}

.item.dragging :where(.details, i) {
  opacity: 0;
}
